body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #5e8d5a;

}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 5px;
}

.intro, .content {
    display: flex;
}

.intro-left {
    max-width: 50%;
    font-size: 18px;
}

.intro-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.content-title {
    text-align: center;
}

.HeaderImage {
    background-color: darkslategray;
    max-width: 50%;
}

/*
.content-container {
    background-image: url(images/GrassField.jpeg);
    background-size: cover;
}
*/

.content {
    justify-content: center;
    gap: 80px;
    text-align: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.content-text {
    background-color: rgb(235, 243, 220);
    border-radius: 15px 30px;
    border: 5px solid #a0ca8d;
    padding: 6px;
}

.info {
    max-width: 200px;
}

.goat {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #a0ca8d;
    border-radius: 30px 60px;
}

.quote {
    background-color: #d9e0d7;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30%;
    padding-right: 30%;
}

.quote-text {
    text-align: center;
    font-style: italic;
}

.quote-author {
    text-align: end;
}

.call {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    flex: 1 1 auto;
    gap: 0px;
    background-color: #e1ee68;
    border-radius: 30px;
    align-items: center;
    padding: 30px;
    align-self: stretch;
}

.call-left {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin: 0;
}

.footer {
    text-align: center;
    background-color: #5e8d5a;
    padding: 25px;
}